@{
	Layout = "";

	Html.AddCssFileParts("~/Plugins/Widgets.DiscontDelivery/Content/discont_delivery.css");
}
@using Nop.Web.Framework.UI

<div class="discont-wrapper">
	<div id="delivery_attention" class="discont_delivery attention">
		@T("Plugins.Widgets.DiscontDelivery.Attention").Text
	</div>
</div>

